.highlightTableColor {
  background-color: #D9EDF7
}




tr {
  cursor: pointer !important;
}

.svg-inline--fa {

  vertical-align: -0.18em !important;
}

.make-gold {
  background-color: #C7E6C9
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.truncate2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 10px;
}

// .mat-column-patientname {
//   width: 500px;
// }

// .mat-column-readdatetime {
//   width: 800px;
// }


// .mat-column-hn {
//   width: 300px;
// }

.mat-column-sendMachine {
  width: 10px;
}



mat-label {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

/* Border */
.cdk-text-field-autofill-monitored:not(:-webkit-autofill) {
  font-weight: bold;
}

panel-body {
  color: #000;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: white;
  opacity: 1;
}

.panel-info>.panel-heading {
  padding-top: 19.5px;
  padding-bottom: 19.5px;
}



// ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
//   color: #3F51B5 !important;
//   // opacity: 1!important;
// }
