.highlightTableColor {
  background-color: #D9EDF7
}




tr {
  cursor: pointer !important;
}

.svg-inline--fa {

  vertical-align: -0.18em !important;
}

.make-gold {
  background-color: #C7E6C9
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.truncate2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 10px;
}

// .mat-column-patientname {
//   width: 500px;
// }

// .mat-column-readdatetime {
//   width: 800px;
// }


// .mat-column-hn {
//   width: 300px;
// }

.mat-column-sendMachine {
  width: 10px;
}



mat-label {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

/* Border */
.cdk-text-field-autofill-monitored:not(:-webkit-autofill) {
  font-weight: bold;
}

panel-body {
  color: #000;

}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: white;
  opacity: 1;
}

.panel-info>.panel-heading {
  padding-top: 19.5px;
  padding-bottom: 19.5px;
}

.panel-body {

  min-height: 536px
}


.example-section {
  margin: 5px 0;
}

.example-margin {
  margin: 0 12px;
}

// ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
//   color: #3F51B5 !important;
//   // opacity: 1!important;
// }

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  // display: none;
  // /* Hidden by default */
  // position: fixed;
  /* Stay in place */

  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  text-align: center;
  /* Black w/ opacity */

}

/* Modal Content (Image) */
// .modal-content {
//   margin: auto;
//   display: block;
//   width: 80%;
//   max-width: 700px;
// }

/* Caption of Modal Image (Image Text) - Same Width as the Image */


/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
