.mat-tab-link.active {
  color: whitesmoke !important;
  background-color: #3f51b5 !important;
  font-weight: 700;
  box-shadow: 0 2px 4px 0 #00000080;
  opacity: 1;

}

::ng-deep .mat-tab-links {
  box-shadow: 0 100px 300px rgba(0, 0, 0, 0.2) !important;
}
