mat-toolbar-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

h3 {
  white-space: nowrap;
}

.parent {
  display: flex;
  flex: 1;
  height: 100px;
  align-items: center;
  justify-content: end;
  white-space: nowrap;
}

.children {
  display: flex;
}

.child {
  margin: 0 5px;
  padding: 0 5px;
  font-size: 10px;
  color: #000;
}


.mat-tab-link.active {
  color: whitesmoke !important;
  background-color: #3f51b5 !important;
  font-weight: 700;
  box-shadow: 0 2px 4px 0 #00000080;
  opacity: 1;

}

::ng-deep .mat-tab-links {
  box-shadow: 0 100px 300px rgba(0, 0, 0, 0.2) !important;
}
